# -----------------------------------------------------------------------------
# 文件: requirements.txt
# 描述: 项目依赖库。
# -----------------------------------------------------------------------------
tweepy==4.14.0
requests